/* GLOBAL  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    /* color: #404040; */
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    scroll-behavior: smooth;
}
li{
    list-style: none;
}
h5{
    font-size: 1.125rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: #f53625;
}
h3{
    color: #dddddd;
    font-size: 2.1875rem;
    line-height: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}
p{
    font-size: 1.2rem;
    line-height: 1.75rem;
    color: #AFAFAF;
}
.readmore{
    font-size: 1.1rem;
    border-bottom: 2px solid #189A46;
    color: #DDDDDD;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    text-transform: capitalize;
    transition: all .5s;
}
.readmore:hover{
    text-decoration: none;
    color: #189A46;
}
.button{
    margin-top: 30px;
    padding: 12px 35px;
    font-size: 1.15rem;
    line-height: 28px;
    font-weight: 400;
    transition: 0.3s ease-in;
    border-radius:10px ;
    background-color: #189A46;
    color: #fff;
}
/* HEADER  */
.fixed__top{
    position: sticky;
    top: 0;
    z-index: 1030;
}
.navbar-nav{
    align-items: center;
}
@media only screen and (max-width: 991px){
header .fixed__top{
    height: auto;
}}
.bg__header{
    background-color: black;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
header .navbar{
    justify-content: space-between
}
.nav__left i{
    font-size: .7rem;
}
.navbar__brand{
    font-size: 2.215rem;
    font-weight: 600;
    color: #189A46;
}
.navbar__brand:hover{
    color: #189A46; 
    text-decoration: unset;
}
.nav-link{
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    color: #fff;
    position: relative;
    transition: all .5s;
}
.nav-item{
    padding: 0 5px;
}
.active .nav-link{
    color: #189A46;
}
.nav-link:hover{
    color: #189A46;
}
.nav-link::before{
    position: absolute;
    content: ' ';
    height: 2px;
    background: #189A46;
    width: 0px;
    bottom: 15px;
    transition: all .5s;
}
.nav-link:hover:before{
    width: 80%;
}
.dropdown-menu{
    background-color: black;
}
.dropdown-item{
    color: #fff;
}
a.dropdown-item:hover{
    color: #189A46;
    background-color: black;
}
.icon__search{
    background: #222222;
    font-size: 1rem;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    text-align: center;
    color: #189A46;
    border: none;
    margin-left: 5px;
    transition: all .5s;
}
.icon__search:hover{
    color: #fff;
    background-color: #189A46;
}
.nav__left i{
    font-size: 1rem;
}
.over__lay{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    transition: opacity 0ms;
    visibility: hidden;
    /* opacity: 0; */
      z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.over__lay:target{
    visibility: visible;
    opacity: 1;
}
.search{
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}
.form-inline{
    flex-flow: unset;
}
#search .form-control{
    width: 100%;
    height: 55px;
}
.close{
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 100ms;
    font-size: 1.875rem;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}
.btn-outline-success{
    padding: 0 1.5rem;
    border-radius: 0 0.25rem 0.25rem 0;
    background-color: #189A46;
    color: #fff;
}
.form-inline {
    align-items: unset;
}
/* FOOTER  */
footer{
    background-color: #111111;
    padding: 60px 0;
}
footer li{
    margin-bottom: 10px;
}
footer h6{
    color: #fff;
    font-size: 1.2rem;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 25px;
}
footer p{
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    line-height: 28px;
}
footer a{
    font-weight: normal;
    font-size: 16px;
    color: #696969;
    line-height: 28px;
    transition: all 0.5s;
}
footer a:hover{
    color: #fff;
}
.footer__icon li{
    display: inline-block;
    margin-right: 20px;
}
.footer__bottom{
    text-align: center;
    border-top: 1px solid rgba(103, 99, 99, 0.14);
    padding-top: 30px;
}
.footer__bottom .footer__red{
    color: red;
}
/* BACKTOTOP  */
.backtotop{
    display: block;
    position: fixed;
    bottom: 60px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    z-index: 99;
    background: #189A46;
    transform: translateY(10px);
    transition:all 0.3s ease-out;
}
.backtotop:hover{
    transform: translateY(0);
    transition:all 0.3s ease-out;
}
.backtotop a{
    color: #fff;
    font-size: 0.8rem;
}
