/* GLOBAL  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #404040;
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}
header{
    background-color: black;
    color: #fff;
}