/* CAROUSEL  */
.carousel__text{
    position: absolute;
    top: 30%;
    left: 40%;
    max-width: 700px;
    text-align: left;
}
.carousel-item .crs__text1{
    left: 10%;
}
.carousel-item{
    position: relative;
}
.carousel__text h5{
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.carousel__text p{
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;
    opacity: 0.9;
    margin-bottom: 80px;
}
.button__a{
    border: 2px solid white;
    background-color: #fff;
    color: #189A46;
    padding: 12px 35px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    transition: all .5s;
}
.bt__a1{
    background-color: unset;
    color: #fff;
}
.button__a:hover{
    background-color: #fff;
    color: #189A46;
    text-decoration: none;
}
.carousel-inner{
    height: 100vh;
}
.carousel-item{
    height: 100%;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    border: unset;
    transition: all .5s;
}
.carousel-indicators li:hover{
    border-radius: 10px;
    background-color: green;
    opacity: 1;
    width: 30px;
}
.carousel-indicators .active{
    border-radius: 10px;
    background-color: green;
    opacity: 1;
    width: 30px;
}
/* ABOUTUS  */
.aboutus{
    background-color: #151515;
}
.aboutus__content{
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    padding: 50px 0;
}
.aboutus__content .readmore:hover{
    color: #189A46;
    text-decoration: none;
}